@page
@model PrivacyModel
@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1 class="text-break">@ViewData["Title"]</h1>

<p class="text-break">Bu sayfa gizlilik politikasını detaylandırmak için kullanılır.</p>
